# Soroban RPC — Stellar Testnet
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# Deployed Contract IDs (Testnet)
# Redeployed 2026-06-29
NEXT_PUBLIC_CONTRACT_USER_REGISTRY=CAFHDYYSSR7A5MRMTNY457HDDBBWYJZAQNZ22NT7TOMMBRSNC2OOBYHA
NEXT_PUBLIC_CONTRACT_SOCIAL_GRAPH=CCI7DBNILBDTLR2KF24I7647H5JGUSMEJDHXS6D7H6GPSQ3WEBJMUPM7
NEXT_PUBLIC_CONTRACT_MESSAGES=CAXNXU2GV45Y7TXDLDJNOVQQ74P4LSX2D5PWRAN52GH3GPVLR423E3TK
