# Soroban RPC — Stellar Testnet
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org

# Deployed Contract IDs (Testnet)
NEXT_PUBLIC_CONTRACT_USER_REGISTRY=CCYE3GXN7X4HIDNIEZCPE5WFWELS3SKSLBSHSENBPLNSWVSWFSOMRLIS
NEXT_PUBLIC_CONTRACT_SOCIAL_GRAPH=CBQJMPSMYNURVLSLG6FPILRCHDSSBB3EAFFOWWPRMJ4FTUR5H4XWUNL6
NEXT_PUBLIC_CONTRACT_MESSAGES=CAFAAKQR56MO63IFCI7GSITV6J3FS47DGHJHQBTVITHIB57IPQ74LZB7

# IPFS
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs
NEXT_PUBLIC_IPFS_PIN_API=
